In [2]:
import numpy as np
import pandas as pd
from pandas import *
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('data.csv',encoding='cp1252')

In [4]:
df.shape

(8399, 21)

In [5]:
df.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 21 columns):
Row ID                  8399 non-null int64
Order ID                8399 non-null int64
Order Date              8399 non-null object
Order Priority          8399 non-null object
Order Quantity          8399 non-null int64
Sales                   8399 non-null float64
Discount                8399 non-null float64
Ship Mode               8399 non-null object
Profit                  8399 non-null float64
Unit Price              8399 non-null float64
Shipping Cost           8399 non-null float64
Customer Name           8399 non-null object
Province                8399 non-null object
Region                  8399 non-null object
Customer Segment        8399 non-null object
Product Category        8399 non-null object
Product Sub-Category    8399 non-null object
Product Name            8399 non-null object
Product Container       8399 non-null object
Product Base Margin     8336 non-null float64
Ship Date               8399 non-null object
dtypes: float64(6), int64(3), object(12)
memory usage: 1.3+ MB

In [7]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 21 columns):
Row ID                  8399 non-null int64
Order ID                8399 non-null int64
Order Date              8399 non-null datetime64[ns]
Order Priority          8399 non-null object
Order Quantity          8399 non-null int64
Sales                   8399 non-null float64
Discount                8399 non-null float64
Ship Mode               8399 non-null object
Profit                  8399 non-null float64
Unit Price              8399 non-null float64
Shipping Cost           8399 non-null float64
Customer Name           8399 non-null object
Province                8399 non-null object
Region                  8399 non-null object
Customer Segment        8399 non-null object
Product Category        8399 non-null object
Product Sub-Category    8399 non-null object
Product Name            8399 non-null object
Product Container       8399 non-null object
Product Base Margin     8336 non-null float64
Ship Date               8399 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(10)
memory usage: 1.3+ MB

In [9]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [10]:
import datetime as dt

In [11]:
df['Month'] = df['Order Date'].dt.month
df['Year'] = df['Order Date'].dt.year

In [12]:
df1= df[['Year','Month','Sales']]

In [13]:
df2=df1.groupby(['Year','Month']).sum()

In [14]:
df2

                  Sales
Year Month
2009 1      516302.9595
     2      332480.6365
     3      411628.7290
     4      393276.4820
     5      230145.5380
     6      263456.0680
     7      380503.9700
     8      329754.7150
     9      325292.3145
     10     361555.2665
     11     248933.4260
     12     415809.3505
2010 1      336526.6805
     2      271580.5080
     3      217808.0065
     4      266968.5890
     5      283534.2850
     6      293080.6650
     7      229885.4985
     8      207937.0090
     9      418343.2785
     10     365251.9850
     11     290670.3455
     12     368093.9540
2011 1      251467.2280
     2      299890.1410
     3      296035.8710
     4      288213.3970
     5      262628.4960
     6      197740.8455
     7      287905.1865
     8      274578.4795
     9      276049.7960
     10     305660.4510
     11     367769.4960
     12     328877.3145
2012 1      340626.5070
     2      276132.4990
     3      348208.3250
     4      268024.9700
     5      384588.0615
     6      276580.9355
     7      242809.6995
     8      302745.1235
     9      318271.5665
     10     351246.7325
     11     256020.1040
     12     354709.3380

In [15]:
df2.max()

Sales    516302.9595
dtype: float64

In [16]:
df2.idxmax()

Sales    (2009, 1)
dtype: object

In [17]:
df3=df1.groupby('Month').sum()
df3

          Year         Sales
Month
1      1439437  1.444923e+06
2      1310842  1.180084e+06
3      1401335  1.273681e+06
4      1351081  1.216483e+06
5      1564208  1.160896e+06
6      1304794  1.030859e+06
7      1405307  1.141104e+06
8      1417369  1.115015e+06
9      1477723  1.337957e+06
10     1467699  1.383714e+06
11     1296713  1.163393e+06
12     1449535  1.467490e+06

In [18]:
df3.idxmax()

Year      5
Sales    12
dtype: int64

In [20]:
df['Discount'].describe()

count    8399.000000
mean        0.049671
std         0.031823
min         0.000000
25%         0.020000
50%         0.050000
75%         0.080000
max         0.250000
Name: Discount, dtype: float64